.svg-icon_active, .svg-icon_akses, .svg-icon_akvapark, .svg-icon_angar, .svg-icon_ar_baydarka, .svg-icon_ar_gruz, .svg-icon_ar_katamaran, .svg-icon_ar_kayk, .svg-icon_ar_plot, .svg-icon_ar_pontony, .svg-icon_ar_raft, .svg-icon_ar_sport, .svg-icon_arki, .svg-icon_atrakciony, .svg-icon_auto, .svg-icon_baidarki, .svg-icon_borta, .svg-icon_byksir, .svg-icon_emkosti, .svg-icon_facebook, .svg-icon_figura_peyntboll, .svg-icon_flag_en, .svg-icon_flag_ru, .svg-icon_for_attrakciaons, .svg-icon_for_fitnes, .svg-icon_for_katamaran, .svg-icon_for_m4s, .svg-icon_for_parkafa, .svg-icon_for_prom, .svg-icon_for_rafts, .svg-icon_for_stroy, .svg-icon_for_sub_b, .svg-icon_for_timebilding, .svg-icon_instagram, .svg-icon_katamaran, .svg-icon_kayk, .svg-icon_komplect, .svg-icon_letniy_atrak, .svg-icon_lodki_oxota, .svg-icon_logo, .svg-icon_maty, .svg-icon_motor_lodka, .svg-icon_motors, .svg-icon_mundial, .svg-icon_naduv_bas, .svg-icon_naduv_doski, .svg-icon_naduv_shar, .svg-icon_nasosy, .svg-icon_object_yxty, .svg-icon_ok, .svg-icon_pakrafty, .svg-icon_pedestal, .svg-icon_phone, .svg-icon_protectory, .svg-icon_pvx, .svg-icon_raftu, .svg-icon_raz_arenda, .svg-icon_raz_contacts, .svg-icon_raz_products, .svg-icon_raz_sale, .svg-icon_raz_useful, .svg-icon_ring, .svg-icon_rukzaki, .svg-icon_snar9dy, .svg-icon_sredstva, .svg-icon_team_atrak, .svg-icon_telegram, .svg-icon_tramplin, .svg-icon_vesla, .svg-icon_vk, .svg-icon_youtube, .svg-icon_zim_atrakciony {
  background: url("../../../../img/svg/sprite.svg") no-repeat; }

.svg-icon_active {
  background-position: 14.285714285714286% 0; }

.svg-icon_active-dims {
  width: 59px;
  height: 49px; }

.svg-icon_akses {
  background-position: 0 85.71428571428571%; }

.svg-icon_akses-dims {
  width: 59px;
  height: 49px; }

.svg-icon_akvapark {
  background-position: 0 14.285714285714286%; }

.svg-icon_akvapark-dims {
  width: 59px;
  height: 49px; }

.svg-icon_angar {
  background-position: 14.285714285714286% 14.285714285714286%; }

.svg-icon_angar-dims {
  width: 59px;
  height: 49px; }

.svg-icon_ar_baydarka {
  background-position: 28.571428571428573% 0; }

.svg-icon_ar_baydarka-dims {
  width: 59px;
  height: 49px; }

.svg-icon_ar_gruz {
  background-position: 28.571428571428573% 14.285714285714286%; }

.svg-icon_ar_gruz-dims {
  width: 59px;
  height: 49px; }

.svg-icon_ar_katamaran {
  background-position: 0 28.571428571428573%; }

.svg-icon_ar_katamaran-dims {
  width: 59px;
  height: 49px; }

.svg-icon_ar_kayk {
  background-position: 14.285714285714286% 28.571428571428573%; }

.svg-icon_ar_kayk-dims {
  width: 59px;
  height: 49px; }

.svg-icon_ar_plot {
  background-position: 28.571428571428573% 28.571428571428573%; }

.svg-icon_ar_plot-dims {
  width: 59px;
  height: 49px; }

.svg-icon_ar_pontony {
  background-position: 42.857142857142854% 0; }

.svg-icon_ar_pontony-dims {
  width: 59px;
  height: 49px; }

.svg-icon_ar_raft {
  background-position: 42.857142857142854% 14.285714285714286%; }

.svg-icon_ar_raft-dims {
  width: 59px;
  height: 49px; }

.svg-icon_ar_sport {
  background-position: 42.857142857142854% 28.571428571428573%; }

.svg-icon_ar_sport-dims {
  width: 59px;
  height: 49px; }

.svg-icon_arki {
  background-position: 0 42.857142857142854%; }

.svg-icon_arki-dims {
  width: 59px;
  height: 49px; }

.svg-icon_atrakciony {
  background-position: 14.285714285714286% 42.857142857142854%; }

.svg-icon_atrakciony-dims {
  width: 59px;
  height: 49px; }

.svg-icon_auto {
  background-position: 28.571428571428573% 42.857142857142854%; }

.svg-icon_auto-dims {
  width: 59px;
  height: 49px; }

.svg-icon_baidarki {
  background-position: 42.857142857142854% 42.857142857142854%; }

.svg-icon_baidarki-dims {
  width: 59px;
  height: 49px; }

.svg-icon_borta {
  background-position: 57.142857142857146% 0; }

.svg-icon_borta-dims {
  width: 59px;
  height: 49px; }

.svg-icon_byksir {
  background-position: 57.142857142857146% 14.285714285714286%; }

.svg-icon_byksir-dims {
  width: 59px;
  height: 49px; }

.svg-icon_emkosti {
  background-position: 57.142857142857146% 28.571428571428573%; }

.svg-icon_emkosti-dims {
  width: 59px;
  height: 49px; }

.svg-icon_facebook {
  background-position: 99.77426636568849% 67.4931129476584%; }

.svg-icon_facebook-dims {
  width: 29px;
  height: 29px; }

.svg-icon_figura_peyntboll {
  background-position: 0 57.142857142857146%; }

.svg-icon_figura_peyntboll-dims {
  width: 59px;
  height: 49px; }

.svg-icon_flag_en {
  background-position: 93.22799097065463% 67.4931129476584%; }

.svg-icon_flag_en-dims {
  width: 29px;
  height: 29px; }

.svg-icon_flag_ru {
  background-position: 93.22799097065463% 59.50413223140496%; }

.svg-icon_flag_ru-dims {
  width: 29px;
  height: 29px; }

.svg-icon_for_attrakciaons {
  background-position: 42.857142857142854% 57.142857142857146%; }

.svg-icon_for_attrakciaons-dims {
  width: 59px;
  height: 49px; }

.svg-icon_for_fitnes {
  background-position: 57.142857142857146% 57.142857142857146%; }

.svg-icon_for_fitnes-dims {
  width: 59px;
  height: 49px; }

.svg-icon_for_katamaran {
  background-position: 0 71.42857142857143%; }

.svg-icon_for_katamaran-dims {
  width: 59px;
  height: 49px; }

.svg-icon_for_m4s {
  background-position: 14.285714285714286% 71.42857142857143%; }

.svg-icon_for_m4s-dims {
  width: 59px;
  height: 49px; }

.svg-icon_for_parkafa {
  background-position: 28.571428571428573% 71.42857142857143%; }

.svg-icon_for_parkafa-dims {
  width: 59px;
  height: 49px; }

.svg-icon_for_prom {
  background-position: 42.857142857142854% 71.42857142857143%; }

.svg-icon_for_prom-dims {
  width: 59px;
  height: 49px; }

.svg-icon_for_rafts {
  background-position: 57.142857142857146% 71.42857142857143%; }

.svg-icon_for_rafts-dims {
  width: 59px;
  height: 49px; }

.svg-icon_for_stroy {
  background-position: 71.42857142857143% 0; }

.svg-icon_for_stroy-dims {
  width: 59px;
  height: 49px; }

.svg-icon_for_sub_b {
  background-position: 71.42857142857143% 14.285714285714286%; }

.svg-icon_for_sub_b-dims {
  width: 59px;
  height: 49px; }

.svg-icon_for_timebilding {
  background-position: 71.42857142857143% 28.571428571428573%; }

.svg-icon_for_timebilding-dims {
  width: 59px;
  height: 49px; }

.svg-icon_instagram {
  background-position: 93.22799097065463% 83.47107438016529%; }

.svg-icon_instagram-dims {
  width: 29px;
  height: 29px; }

.svg-icon_katamaran {
  background-position: 71.42857142857143% 57.142857142857146%; }

.svg-icon_katamaran-dims {
  width: 59px;
  height: 49px; }

.svg-icon_kayk {
  background-position: 71.42857142857143% 71.42857142857143%; }

.svg-icon_kayk-dims {
  width: 59px;
  height: 49px; }

.svg-icon_komplect {
  background-position: 0 0; }

.svg-icon_komplect-dims {
  width: 59px;
  height: 49px; }

.svg-icon_letniy_atrak {
  background-position: 14.285714285714286% 85.71428571428571%; }

.svg-icon_letniy_atrak-dims {
  width: 59px;
  height: 49px; }

.svg-icon_lodki_oxota {
  background-position: 28.571428571428573% 85.71428571428571%; }

.svg-icon_lodki_oxota-dims {
  width: 59px;
  height: 49px; }

.svg-icon_logo {
  background-position: 96.5946299934512% 14.16184971098266%; }

.svg-icon_logo-dims {
  width: 44.44px;
  height: 46px; }

.svg-icon_maty {
  background-position: 57.142857142857146% 85.71428571428571%; }

.svg-icon_maty-dims {
  width: 59px;
  height: 49px; }

.svg-icon_motor_lodka {
  background-position: 71.42857142857143% 85.71428571428571%; }

.svg-icon_motor_lodka-dims {
  width: 59px;
  height: 49px; }

.svg-icon_motors {
  background-position: 85.71428571428571% 0; }

.svg-icon_motors-dims {
  width: 59px;
  height: 49px; }

.svg-icon_mundial {
  background-position: 85.71428571428571% 14.285714285714286%; }

.svg-icon_mundial-dims {
  width: 59px;
  height: 49px; }

.svg-icon_naduv_bas {
  background-position: 85.71428571428571% 28.571428571428573%; }

.svg-icon_naduv_bas-dims {
  width: 59px;
  height: 49px; }

.svg-icon_naduv_doski {
  background-position: 85.71428571428571% 42.857142857142854%; }

.svg-icon_naduv_doski-dims {
  width: 59px;
  height: 49px; }

.svg-icon_naduv_shar {
  background-position: 85.71428571428571% 57.142857142857146%; }

.svg-icon_naduv_shar-dims {
  width: 59px;
  height: 49px; }

.svg-icon_nasosy {
  background-position: 85.71428571428571% 71.42857142857143%; }

.svg-icon_nasosy-dims {
  width: 59px;
  height: 49px; }

.svg-icon_object_yxty {
  background-position: 85.71428571428571% 85.71428571428571%; }

.svg-icon_object_yxty-dims {
  width: 59px;
  height: 49px; }

.svg-icon_ok {
  background-position: 99.77426636568849% 43.52617079889807%; }

.svg-icon_ok-dims {
  width: 29px;
  height: 29px; }

.svg-icon_pakrafty {
  background-position: 14.285714285714286% 100%; }

.svg-icon_pakrafty-dims {
  width: 59px;
  height: 49px; }

.svg-icon_pedestal {
  background-position: 28.571428571428573% 100%; }

.svg-icon_pedestal-dims {
  width: 59px;
  height: 49px; }

.svg-icon_phone {
  background-position: 94.29223744292237% 26.536312849162012%; }

.svg-icon_phone-dims {
  width: 34px;
  height: 34px; }

.svg-icon_protectory {
  background-position: 57.142857142857146% 100%; }

.svg-icon_protectory-dims {
  width: 59px;
  height: 49px; }

.svg-icon_pvx {
  background-position: 71.42857142857143% 100%; }

.svg-icon_pvx-dims {
  width: 59px;
  height: 49px; }

.svg-icon_raftu {
  background-position: 85.71428571428571% 100%; }

.svg-icon_raftu-dims {
  width: 59px;
  height: 49px; }

.svg-icon_raz_arenda {
  background-position: 93.22799097065463% 43.52617079889807%; }

.svg-icon_raz_arenda-dims {
  width: 29px;
  height: 29px; }

.svg-icon_raz_contacts {
  background-position: 99.77426636568849% 51.515151515151516%; }

.svg-icon_raz_contacts-dims {
  width: 29px;
  height: 29px; }

.svg-icon_raz_products {
  background-position: 93.22799097065463% 51.515151515151516%; }

.svg-icon_raz_products-dims {
  width: 29px;
  height: 29px; }

.svg-icon_raz_sale {
  background-position: 93.22799097065463% 35.53719008264463%; }

.svg-icon_raz_sale-dims {
  width: 29px;
  height: 29px; }

.svg-icon_raz_useful {
  background-position: 99.77426636568849% 35.53719008264463%; }

.svg-icon_raz_useful-dims {
  width: 29px;
  height: 29px; }

.svg-icon_ring {
  background-position: 42.857142857142854% 100%; }

.svg-icon_ring-dims {
  width: 59px;
  height: 49px; }

.svg-icon_rukzaki {
  background-position: 0 100%; }

.svg-icon_rukzaki-dims {
  width: 59px;
  height: 49px; }

.svg-icon_snar9dy {
  background-position: 42.857142857142854% 85.71428571428571%; }

.svg-icon_snar9dy-dims {
  width: 59px;
  height: 49px; }

.svg-icon_sredstva {
  background-position: 71.42857142857143% 42.857142857142854%; }

.svg-icon_sredstva-dims {
  width: 59px;
  height: 49px; }

.svg-icon_team_atrak {
  background-position: 28.571428571428573% 57.142857142857146%; }

.svg-icon_team_atrak-dims {
  width: 59px;
  height: 49px; }

.svg-icon_telegram {
  background-position: 99.77426636568849% 59.50413223140496%; }

.svg-icon_telegram-dims {
  width: 29px;
  height: 29px; }

.svg-icon_tramplin {
  background-position: 14.285714285714286% 57.142857142857146%; }

.svg-icon_tramplin-dims {
  width: 59px;
  height: 49px; }

.svg-icon_vesla {
  background-position: 57.142857142857146% 42.857142857142854%; }

.svg-icon_vesla-dims {
  width: 59px;
  height: 49px; }

.svg-icon_vk {
  background-position: 93.22799097065463% 75.48209366391184%; }

.svg-icon_vk-dims {
  width: 29px;
  height: 29px; }

.svg-icon_youtube {
  background-position: 99.77426636568849% 75.48209366391184%; }

.svg-icon_youtube-dims {
  width: 29px;
  height: 29px; }

.svg-icon_zim_atrakciony {
  background-position: 100% 0; }

.svg-icon_zim_atrakciony-dims {
  width: 59px;
  height: 49px; }
