@charset "UTF-8";
a:focus, input:focus, button:focus, textarea:focus, select:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important; }

input, select, textarea {
  line-height: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background: transparent;
  position: relative; }

textarea {
  width: 100%;
  height: 100px;
  line-height: 100%; }

.btn-default {
  height: 40px;
  line-height: 26px;
  margin-top: 40px;
  font-size: 2rem;
  border: 0;
  border-bottom: 4px solid #138faa;
  background-color: #159fbd;
  color: #fff;
  border-radius: 0;
  transition: 0.2s; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

.align-top {
  vertical-align: top; }

.align-mid {
  vertical-align: middle; }

.align-bot {
  vertical-align: bottom; }

.ztable, .zt {
  display: table;
  width: 100%; }
  .ztable-row, .zt-row {
    display: table-row; }
  .ztable-cell, .zt-cell {
    display: table-cell;
    vertical-align: top; }
  .ztable-cell-m, .zt-cell-m {
    display: table-cell;
    vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0; }
  ul li, ol li {
    list-style: none; }

.rel {
  position: relative; }

body {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.hide {
  display: none; }

.ct, .fd, .fx {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px; }

.fx {
  max-width: 1200px; }

@media (max-width: 480px) {
  #zdevice {
    content: "xxs"; } }

@media (max-width: 768px) and (min-width: 480px) {
  #zdevice {
    content: "xs"; } }

@media (max-width: 950px) and (min-width: 768px) {
  #zdevice {
    content: "sm"; } }

@media (max-width: 1200px) and (min-width: 950px) {
  #zdevice {
    content: "md"; } }

@media (min-width: 1200px) {
  #zdevice {
    content: "lg"; } }

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon/icomoon.eot?ujf2n6");
  src: url("/fonts/icomoon/icomoon.eot?ujf2n6#iefix") format("embedded-opentype"), url("/fonts/icomoon/icomoon.ttf?ujf2n6") format("truetype"), url("/fonts/icomoon/icomoon.woff?ujf2n6") format("woff"), url("/fonts/icomoon/icomoon.svg?ujf2n6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mail-envelope-open:before {
  content: "\e900"; }

.icon-chat_bubble:before {
  content: "\e0ca"; }

.icon-personal_video:before {
  content: "\e63b"; }

.icon-phone_iphone:before {
  content: "\e325"; }

.icon-reorder:before {
  content: "\e8fe"; }

.icon-verified_user:before {
  content: "\e8e8"; }

.svg-icon_cart, .svg-icon_logo, .svg-icon_play, .svg-icon_podarok, .svg-icon_romb, .svg-icon_volna {
  background: url("../../svg/sprite.svg") no-repeat; }

.svg-icon_cart {
  background-position: 28.44141069397042% 87.08133971291865%; }

.svg-icon_cart-dims {
  width: 36.2px;
  height: 31.7px; }

.svg-icon_logo {
  background-position: 0 0; }

.svg-icon_logo-dims {
  width: 121px;
  height: 33px; }

.svg-icon_play {
  background-position: 0 99.53125%; }

.svg-icon_play-dims {
  width: 50px;
  height: 50px; }

.svg-icon_podarok {
  background-position: 0 39.473684210526315%; }

.svg-icon_podarok-dims {
  width: 108px;
  height: 94.4px; }

.svg-icon_romb {
  background-position: 99.42481511914544% 0; }

.svg-icon_romb-dims {
  width: 90.3px;
  height: 90.4px; }

.svg-icon_volna {
  background-position: 98.85620915032679% 61.748633879781416%; }

.svg-icon_volna-dims {
  width: 89.6px;
  height: 31.6px; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("/fonts/new/MuseoSansCyrl-300.eot");
  src: local("☺"), url("/fonts/new/MuseoSansCyrl-300.woff") format("woff"), url("/fonts/new/MuseoSansCyrl-300.ttf") format("truetype"), url("/fonts/new/MuseoSansCyrl-300.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("/fonts/new/MuseoSansCyrl-900.eot");
  src: local("☺"), url("/fonts/new/MuseoSansCyrl-900.woff") format("woff"), url("/fonts/new/MuseoSansCyrl-900.ttf") format("truetype"), url("/fonts/new/MuseoSansCyrl-900.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TTLimesSlab';
  src: url("/fonts/new/TTLimesSlab-Regular.eot");
  src: local("☺"), url("/fonts/new/TTLimesSlab-Regular.woff") format("woff"), url("/fonts/new/TTLimesSlab-Regular.ttf") format("truetype"), url("/fonts/new/TTLimesSlab-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FredokaOne';
  src: url("/fonts/new/FredokaOne-Regular.eot");
  src: local("☺"), url("/fonts/new/FredokaOne-Regular.woff") format("woff"), url("/fonts/new/FredokaOne-Regular.ttf") format("truetype"), url("/fonts/new/FredokaOne-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 10px; }

body {
  font-family: "MuseoSansCyrl", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background: url("/img/fon.png?1") center top; }

.ovh {
  overflow: hidden; }

.img-responsive {
  display: block;
  max-width: 100%; }

.zlazy {
  transition: 1s;
  max-width: 100%; }

.zli {
  padding-left: 35px; }
  .zli > li {
    position: relative;
    margin-bottom: 10px; }
    .zli > li:before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: #ffc34e;
      border-radius: 50px;
      position: absolute;
      top: 50%;
      margin-top: -6px;
      left: -35px; }

.ten {
  box-shadow: 0 6px 5px 2px rgba(0, 0, 0, 0.16); }

.btn {
  background: #ffe747;
  background: -moz-linear-gradient(top, #ffe747 0%, #ff8b58 100%);
  background: -webkit-linear-gradient(top, #ffe747 0%, #ff8b58 100%);
  background: linear-gradient(to bottom, #ffe747 0%, #ff8b58 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe747', endColorstr='#ff8b58',GradientType=0 );
  color: #fff;
  font-family: "MuseoSansCyrl";
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  padding: 0 20px;
  text-decoration: none;
  transition: .2s;
  cursor: pointer;
  font-size: 1.6rem;
  height: 50px; }
  .btn.-big {
    width: 100%;
    max-width: 380px;
    height: 90px;
    font-size: 2.5rem;
    box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.1); }
    .btn.-big:active {
      box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.15); }
  .btn:hover {
    opacity: .8; }
  .btn:active {
    position: relative;
    top: 1px; }

h2 {
  font-size: 5.5rem;
  font-weight: normal;
  font-family: "TTLimesSlab";
  text-align: center;
  color: #6a71ff; }

.volna {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto; }

.topline {
  display: none; }

.svg-icon {
  display: flex; }

.navigator {
  background: #fff;
  padding: 25px 0 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); }
  .navigator__wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center; }
  .navigator__logo {
    height: 60px;
    flex-basis: 280px;
    flex-shrink: 0;
    display: flex;
    align-items: center; }
    .navigator__logo a {
      display: inline-block; }
    .navigator__logo span {
      padding-left: 20px;
      font-size: 1.5rem;
      color: #3d3d3d; }
  .navigator__black {
    display: none; }
  .navigator__search {
    align-items: center;
    height: 60px;
    flex-grow: 1;
    display: flex;
    flex-shrink: 1;
    padding: 0 20px 0 10px; }
    .navigator__search form {
      display: flex;
      height: 45px;
      width: 100%; }
      .navigator__search form input {
        background: #e8e8e8;
        height: 100%;
        padding: 0 10px 0 30px;
        font-size: 1.6rem;
        font-family: "MuseoSansCyrl";
        -webkit-border-top-left-radius: 50px;
        -webkit-border-bottom-left-radius: 50px;
        -moz-border-radius-topleft: 50px;
        -moz-border-radius-bottomleft: 50px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        width: 100%; }
      .navigator__search form button {
        flex-shrink: 0;
        flex-grow: 0;
        height: 100%;
        background: #ffc34e;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        width: 60px;
        cursor: pointer;
        -webkit-border-top-right-radius: 50px;
        -webkit-border-bottom-right-radius: 50px;
        -moz-border-radius-topright: 50px;
        -moz-border-radius-bottomright: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        transition: .2s; }
        .navigator__search form button i {
          position: relative;
          top: -2px;
          left: -2px; }
        .navigator__search form button:hover {
          background: #ffb21b; }
  .navigator__cart {
    align-items: center;
    height: 60px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex; }
    .navigator__cart .-wrap {
      display: flex;
      align-items: center;
      justify-content: center; }
      .navigator__cart .-wrap > a {
        align-items: center;
        display: flex;
        color: #3d3d3d; }
        .navigator__cart .-wrap > a:hover {
          text-decoration: none; }
        .navigator__cart .-wrap > a .svg-icon {
          flex-grow: 0;
          flex-shrink: 0;
          position: relative; }
          .navigator__cart .-wrap > a .svg-icon b {
            position: absolute;
            top: -7px;
            right: -1px;
            padding: 1px 4px;
            border-radius: 10px;
            background: #ff6bbb;
            color: #fff;
            font-size: 1.4rem;
            font-weight: normal;
            text-decoration: none; }
        .navigator__cart .-wrap > a span {
          padding-left: 10px; }
      .navigator__cart .-wrap > button {
        background: transparent;
        display: flex;
        cursor: pointer;
        align-items: center;
        padding-left: 15px; }
        .navigator__cart .-wrap > button i {
          position: relative;
          top: 3px;
          border: 9px solid transparent;
          border-top: 15px solid #6e74d5; }
  .navigator__phone {
    height: 60px;
    align-items: center;
    text-align: right;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0; }
    .navigator__phone .-email {
      font-size: 1.8rem; }
    .navigator__phone .-phone {
      font-size: 1.8rem;
      font-weight: 900;
      margin-top: 5px; }
    .navigator__phone a {
      font-size: 1.8rem;
      color: #000;
      text-decoration: none;
      line-height: 1.2; }
      .navigator__phone a:hover {
        color: #6e74d5; }
  .navigator__menu {
    width: 100%;
    padding-top: 10px; }
    .navigator__menu ul {
      margin: auto;
      max-width: 650px;
      display: flex;
      justify-content: space-between; }
      .navigator__menu ul li {
        padding: 0 15px; }
        .navigator__menu ul li > a {
          display: flex;
          height: 50px;
          font-size: 2.1rem;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-weight: 900;
          position: relative;
          color: #3d3d3d; }
          .navigator__menu ul li > a:hover:before {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            left: 0;
            height: 8px;
            border-radius: 30px;
            background: #ff6bbb;
            bottom: 0;
            opacity: .2; }
          .navigator__menu ul li > a.-active:before {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            left: 0;
            height: 8px;
            border-radius: 30px;
            background: #ff6bbb;
            bottom: 0;
            opacity: 1; }

.slider {
  padding: 20px 0 40px;
  background: rgba(19, 32, 245, 0.5);
  font-family: "TTLimesSlab";
  overflow: hidden; }
  .slider__wrap {
    display: flex;
    align-items: center;
    position: relative;
    height: 500px; }
  .slider__info {
    padding-left: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    left: 0;
    z-index: 1;
    top: 0;
    height: 500px; }
    .slider__info h1 {
      color: #fff;
      font-size: 7.5rem;
      line-height: 1;
      font-weight: normal; }
    .slider__info .-desc {
      color: #fff;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 2.4rem; }
  .slider__img {
    padding-bottom: 20px;
    width: 60%;
    display: flex;
    justify-content: right;
    position: absolute;
    align-items: flex-end;
    top: 0;
    right: -40px;
    height: 500px; }
  .slider__img2 {
    display: none; }

.catalog {
  padding: 80px 0;
  overflow: hidden; }
  .catalog__title {
    padding-bottom: 60px; }
  .catalog__list {
    flex-wrap: wrap;
    width: 100%;
    transition: .2s;
    display: flex; }
    .catalog__list > * {
      width: 33.3%;
      margin-bottom: 60px; }
      .catalog__list > *:nth-child(3n+1) {
        display: flex;
        padding-right: 20px;
        justify-content: flex-start; }
      .catalog__list > *:nth-child(3n+2) {
        display: flex;
        justify-content: center;
        padding: 0 10px; }
      .catalog__list > *:nth-child(3n+3) {
        padding-left: 20px;
        display: flex;
        justify-content: flex-end; }
  .catalog__item {
    transition: .2s;
    width: 100%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
    position: relative; }
    .catalog__item .-img a {
      display: block;
      transition: .2s; }
      .catalog__item .-img a:hover {
        opacity: .8; }
    .catalog__item .-img img {
      margin: auto; }
    .catalog__item .-wrap {
      padding: 25px 25px 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .catalog__item .-name {
      font-size: 2.2rem;
      font-weight: bold;
      padding-bottom: 5px;
      flex-shrink: 0;
      flex-grow: 0;
      color: #3d3d3d; }
    .catalog__item .-desc {
      height: 100%;
      font-size: 1.8rem;
      width: 100%;
      color: #3d3d3d; }
    .catalog__item .-price {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      width: 100%;
      padding-top: 25px;
      justify-content: space-between; }
      .catalog__item .-price button {
        display: flex;
        width: 100%;
        max-width: 140px;
        white-space: nowrap;
        padding-left: 5px;
        padding-right: 5px; }
      .catalog__item .-price span {
        white-space: nowrap;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        font-family: "TTLimesSlab";
        font-size: 2.7rem;
        color: #6a71ff; }
    .catalog__item .-podarok {
      position: absolute;
      top: -40px;
      left: -30px;
      z-index: 10; }
      .catalog__item .-podarok span {
        position: absolute;
        left: 0;
        bottom: 16px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: bold; }
  .catalog__showall {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .catalog__showall .btn {
      color: #3d3d3d;
      font-size: 2.4rem;
      max-width: 400px;
      border: 5px solid #ffc34e;
      background: transparent;
      box-shadow: none; }
      .catalog__showall .btn:hover {
        background: rgba(255, 230, 180, 0.5); }

.osobennosti {
  padding: 100px 0 70px;
  background: rgba(19, 32, 245, 0.5);
  font-family: "TTLimesSlab";
  overflow: hidden; }
  .osobennosti__body {
    position: relative; }
  .osobennosti__title {
    padding-bottom: 20px; }
    .osobennosti__title h2 {
      color: #fff; }
  .osobennosti__list {
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    align-items: baseline;
    position: relative;
    z-index: 10;
    justify-content: space-between; }
    .osobennosti__list > *:nth-child(2n+1) {
      min-width: 50%;
      justify-content: flex-start; }
      .osobennosti__list > *:nth-child(2n+1):before {
        top: 0;
        left: 0;
        position: absolute;
        content: '';
        display: inline-block;
        background-image: url(../../img/sprite/sprite.png);
        background-position: -89px 0px;
        width: 59px;
        height: 59px; }
    .osobennosti__list > *:nth-child(2n+2) {
      width: 325px; }
      .osobennosti__list > *:nth-child(2n+2):before {
        top: 0;
        left: 0;
        position: absolute;
        content: '';
        display: inline-block;
        background-image: url(../../img/sprite/sprite.png);
        background-position: -89px 0px;
        width: 59px;
        height: 59px; }
  .osobennosti__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .osobennosti__item {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 60px;
    font-size: 3.6rem;
    color: #fff;
    margin-bottom: 40px;
    padding-left: 100px; }

.easy {
  padding: 80px 0;
  overflow: hidden; }
  .easy__wrap {
    position: relative; }
  .easy__title {
    padding-bottom: 60px;
    position: relative;
    z-index: 10; }
  .easy__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .easy__img .svg-icon {
      transform: scale(4.1);
      transition: .2s;
      opacity: 0.4;
      position: relative;
      margin-top: 10%; }
  .easy__list {
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
    width: 100%;
    transition: .2s;
    display: flex; }
    .easy__list > * {
      width: 33.3%;
      margin-bottom: 30px; }
      .easy__list > *:nth-child(3n+1) {
        display: flex;
        padding-right: 20px;
        justify-content: flex-start; }
      .easy__list > *:nth-child(3n+2) {
        display: flex;
        justify-content: center;
        padding: 0 10px; }
      .easy__list > *:nth-child(3n+3) {
        padding-left: 20px;
        display: flex;
        justify-content: flex-end; }
  .easy__item {
    transition: .2s;
    width: 100%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center; }
    .easy__item .-img img {
      margin: auto;
      box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.2); }
    .easy__item .-title {
      font-size: 4rem;
      padding: 35px 0 30px;
      flex-shrink: 0;
      flex-grow: 0;
      color: #3d3d3d;
      line-height: 1;
      font-family: "TTLimesSlab"; }
    .easy__item .-desc {
      height: 100%;
      font-size: 2rem;
      line-height: 1.4;
      width: 100%;
      color: #3d3d3d; }
  .easy__body {
    padding-top: 40px; }

.komplect {
  padding: 100px 0;
  background: rgba(19, 32, 245, 0.5);
  font-family: "TTLimesSlab";
  overflow: hidden; }
  .komplect__wrap {
    position: relative; }
  .komplect__title {
    padding-bottom: 20px; }
    .komplect__title h2 {
      color: #fff; }
  .komplect__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .komplect__img .svg-icon {
      transform: scale(4.5);
      transition: .2s;
      opacity: 0.3; }
  .komplect__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    z-index: 10;
    justify-content: space-between;
    padding-top: 20px; }
    .komplect__list > *:nth-child(2n + 2) {
      padding-left: 60px; }
  .komplect__item {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 60px;
    font-size: 2.3rem;
    color: #fff;
    margin-bottom: 30px;
    width: 50%;
    font-family: "MuseoSansCyrl"; }
    .komplect__item img {
      margin-right: 50px;
      position: relative;
      top: 3px; }

.sertificat {
  padding: 100px 0 180px;
  overflow: hidden; }
  .sertificat__wrap {
    position: relative; }
  .sertificat__title {
    padding-bottom: 60px;
    position: relative;
    z-index: 10; }
  .sertificat__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .sertificat__img .svg-icon {
      transform: scale(3.1);
      transition: .2s;
      opacity: 0.2;
      position: relative; }
  .sertificat__body {
    position: relative; }
  .sertificat__list {
    display: flex;
    position: relative;
    z-index: 10;
    align-items: center;
    margin: auto; }
    .sertificat__list .-info {
      width: 60%;
      font-size: 3rem;
      display: flex;
      display: flex;
      align-items: center;
      padding-right: 20px;
      line-height: 1.4; }
      .sertificat__list .-info i {
        background-image: url(../../img/sprite/sprite.png);
        background-position: 0px 0px;
        width: 87px;
        height: 89px;
        display: block;
        margin-right: 50px;
        flex-shrink: 0;
        flex-grow: 0; }
    .sertificat__list .-img {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1; }

.garantia {
  padding: 100px 0 120px;
  background: rgba(19, 32, 245, 0.5);
  font-family: "TTLimesSlab";
  overflow: hidden; }
  .garantia__wrap {
    position: relative; }
  .garantia__title {
    padding-bottom: 60px;
    width: 60%; }
    .garantia__title h2 {
      color: #fff;
      font-size: 6rem;
      text-align: left; }
      .garantia__title h2 span {
        color: #fff15b; }
  .garantia__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .garantia__img .svg-icon {
      transform: scale(5.1);
      transition: .2s;
      opacity: 0.45;
      position: relative; }
  .garantia__body {
    position: relative; }
  .garantia__list {
    display: flex;
    position: relative;
    z-index: 10;
    margin: auto; }
    .garantia__list .-video {
      position: relative;
      flex-grow: 1; }
      .garantia__list .-video .-www {
        position: absolute;
        top: -100px;
        width: 100%;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        flex-direction: column;
        text-align: center; }
        .garantia__list .-video .-www strong {
          font-weight: normal;
          font-family: "TTLimesSlab";
          padding-bottom: 30px;
          font-size: 3.6rem; }
        .garantia__list .-video .-www div {
          display: flex;
          align-items: center;
          justify-content: space-around;
          color: #000;
          position: relative; }
          .garantia__list .-video .-www div i {
            position: absolute;
            z-index: 15;
            transition: .2s;
            transform: scale(2.5);
            cursor: pointer; }
          .garantia__list .-video .-www div:hover i {
            transform: scale(3); }
        .garantia__list .-video .-www img {
          border-radius: 20px;
          overflow: hidden;
          box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2); }
    .garantia__list .-info {
      width: 50%;
      padding-right: 15px; }
      .garantia__list .-info .-btn {
        padding-top: 20px; }
      .garantia__list .-info p {
        font-family: "MuseoSansCyrl";
        font-size: 2.4rem;
        color: #fff;
        margin-bottom: 40px;
        line-height: 1.4; }

@media screen and (max-width: 1110px) {
  .navigator {
    padding: 15px 0 20px; }
    .navigator__wrap {
      justify-content: space-between; }
    .navigator__logo {
      order: 1; }
    .navigator__search {
      order: 3;
      width: 100%;
      padding: 0; }
    .navigator__cart {
      order: 1;
      justify-content: center; }
    .navigator__phone {
      order: 1;
      align-items: flex-end; }
    .navigator__menu {
      order: 5; }
      .navigator__menu ul {
        max-width: 600px; }
        .navigator__menu ul li > a {
          font-size: 2rem; } }

@media screen and (max-width: 950px) {
  .btn.-big {
    font-size: 2.2rem;
    max-width: 310px;
    height: 70px; }
  .slider__wrap {
    height: 450px; }
  .slider__info {
    height: 450px; }
  .slider__img {
    height: 450px;
    padding-bottom: 30px; }
  .catalog__list {
    padding: 0 3%; }
    .catalog__list > * {
      width: 50%;
      margin-bottom: 60px; }
      .catalog__list > *:nth-child(2n+1) {
        padding-right: 20px;
        justify-content: flex-start;
        padding-left: 0; }
      .catalog__list > *:nth-child(2n+2) {
        justify-content: flex-end;
        padding-left: 20px;
        padding-right: 0; } }

@media screen and (max-width: 768px) {
  .slider {
    padding: 40px 0 80px; }
    .slider__wrap {
      height: auto;
      flex-direction: column; }
    .slider__info {
      position: inherit;
      height: auto;
      padding: 0;
      align-items: center; }
      .slider__info h1 {
        font-size: 6.5rem; }
    .slider__img2 {
      display: block; }
      .slider__img2 img {
        max-width: 450px;
        margin: auto;
        padding: 20px 0; }
    .slider__img {
      display: none; }
  .topline {
    display: block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100; }
    .topline__wrap {
      height: 60px;
      display: flex;
      width: 100%;
      align-items: center; }
    .topline__bar {
      font-size: 2.8rem;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 40px; }
      .topline__bar i {
        cursor: pointer; }
    .topline__logo {
      display: flex;
      width: 470px;
      font-size: 1.5rem;
      align-items: center;
      white-space: nowrap; }
      .topline__logo span {
        padding-left: 20px; }
    .topline__phone {
      text-align: right;
      width: 100%;
      white-space: nowrap; }
      .topline__phone .-phone {
        font-size: 1.8rem;
        font-weight: 900;
        margin-top: 2px; }
      .topline__phone .-email {
        font-size: 1.6rem; }
      .topline__phone a {
        font-size: 1.6rem;
        color: #000;
        text-decoration: none;
        line-height: 1.2; }
  .navigator {
    background: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 40;
    visibility: hidden;
    padding: 0; }
    .navigator__black {
      cursor: pointer;
      position: fixed;
      left: -100px;
      right: -100px;
      top: -100px;
      bottom: -100px;
      background: rgba(0, 0, 0, 0.5);
      z-index: 10;
      display: none; }
    .navigator__fx {
      padding: 0;
      height: 100%;
      overflow: auto; }
    .navigator__wrap {
      z-index: 50;
      display: flex;
      height: 100%;
      flex-direction: column;
      width: 320px;
      background: #fff;
      overflow: auto;
      transform: translate3d(-500px, 0px, 0px);
      transition: 0.2s;
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding: 60px 0 30px; }
    .navigator__logo {
      display: flex;
      display: none;
      flex-basis: auto;
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 0;
      height: auto;
      padding: 5px 15px 15px; }
      .navigator__logo span {
        padding: 0;
        padding-top: 5px;
        flex-grow: 0;
        flex-shrink: 0;
        text-align: center;
        opacity: .7; }
    .navigator__search {
      flex-grow: 0;
      flex-shrink: 0;
      height: auto;
      order: 2;
      padding: 15px 10px;
      border-bottom: 1px solid #ddd; }
      .navigator__search form {
        height: 55px;
        border-radius: 50px;
        overflow: hidden;
        border: 5px solid #ffc34e; }
        .navigator__search form button {
          border-radius: 0; }
        .navigator__search form input {
          background: #fff;
          font-size: 1.7rem;
          padding: 0 10px 0 25px; }
    .navigator__cart {
      flex-basis: auto;
      height: auto;
      order: 3;
      padding: 20px 0; }
    .navigator__phone {
      display: none;
      order: 5;
      flex-basis: auto;
      width: 100%;
      text-align: center;
      padding: 20px 0;
      align-items: center;
      height: auto; }
    .navigator__menu {
      height: auto;
      order: 4;
      padding: 0 10px; }
      .navigator__menu ul {
        border: 3px solid #ff6bbb;
        border-radius: 10px;
        flex-direction: column; }
        .navigator__menu ul li {
          padding: 0; }
          .navigator__menu ul li:last-child {
            border-bottom: none; }
            .navigator__menu ul li:last-child a {
              border: none; }
          .navigator__menu ul li a {
            border-bottom: 1px solid #ddd;
            height: 55px;
            font-weight: normal;
            font-size: 1.8rem; }
            .navigator__menu ul li a.-active {
              background: #ff6bbb;
              color: #fff; }
              .navigator__menu ul li a.-active:before {
                background: #ff6bbb;
                height: 1px;
                bottom: -1px; }
            .navigator__menu ul li a:hover:before {
              display: none; }
    .navigator.-open {
      display: block;
      visibility: visible; }
      .navigator.-open .navigator__black {
        display: block; }
      .navigator.-open .navigator__wrap {
        transform: translate3d(0px, 0px, 0px); }
  .catalog__list {
    padding: 0; }
    .catalog__list > * {
      width: 50%;
      margin-bottom: 30px; }
      .catalog__list > *:nth-child(2n+1) {
        padding-right: 10px; }
      .catalog__list > *:nth-child(2n+2) {
        padding-left: 10px; } }

@media screen and (max-width: 550px) {
  .slider {
    padding: 30px 0 45px; }
    .slider__info h1 {
      font-size: 4.5rem;
      padding-bottom: 30px; }
    .slider__img2 img {
      max-width: 100%;
      padding: 0; }
  .topline__phone .-phone {
    font-size: 1.6rem; }
  .topline__phone .-email {
    font-size: 1.6rem; }
  .topline__bar {
    font-size: 2.4rem;
    flex-basis: 35px; }
  .topline__logo {
    width: 100px; }
    .topline__logo a i {
      transform: scale(0.8);
      position: relative;
      left: -10px; }
    .topline__logo span {
      display: none; } }

/*# sourceMappingURL=.maps/index.css.map */
