php_value register_argc_argv 1

<Files *.ini>
Order deny,allow
Deny from all
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule  ^$ web/    [L]
    RewriteRule  ((?s).*) web/$1 [L]
</IfModule>

AddDefaultCharset UTF-8