body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #f7f9fb;
  font-size: 15px; }

.img-responsive {
  display: block;
  max-width: 100%; }

.fx {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px; }

.footer3__trigers {
  background: #353535;
  padding: 40px 0; }
  .footer3__trigers .-wrap {
    display: flex;
    width: 100%; }
    .footer3__trigers .-wrap .-item {
      font-size: 13px;
      width: calc(100% / 6);
      text-align: center; }
      .footer3__trigers .-wrap .-item .-img span {
        height: 50px;
        background: #ddd;
        width: 50px;
        display: inline-block; }
      .footer3__trigers .-wrap .-item .-desc {
        padding-top: 20px;
        color: #fff;
        font-size: 13px; }

.footer3__clients {
  padding: 40px 0;
  background: #fff; }
  .footer3__clients .owl-carousel .owl-stage {
    display: flex; }
  .footer3__clients .-wrap {
    background: #eee;
    position: relative;
    padding: 0 60px;
    border-radius: 10px; }
    .footer3__clients .-wrap .-item {
      height: 100%;
      margin-top: 15px;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: stretch; }
      .footer3__clients .-wrap .-item .-desc {
        display: block;
        padding: 15px; }
  .footer3__clients .owl-dots {
    text-align: center;
    padding: 15px 0; }
    .footer3__clients .owl-dots button {
      display: inline-block;
      width: 30px;
      height: 9px;
      background: #cecece !important;
      margin: 0 5px;
      border-radius: 100px;
      transition: .2s; }
      .footer3__clients .owl-dots button.active {
        background: #333 !important; }
  .footer3__clients .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .footer3__clients .owl-nav .owl-prev {
      position: absolute;
      left: -40px;
      font-size: 50px !important;
      opacity: .7;
      transition: .2s; }
      .footer3__clients .owl-nav .owl-prev:hover {
        color: #c5161d !important;
        opacity: 1; }
    .footer3__clients .owl-nav .owl-next {
      position: absolute;
      right: -40px;
      font-size: 50px !important;
      opacity: .7;
      transition: .2s; }
      .footer3__clients .owl-nav .owl-next:hover {
        opacity: 1;
        color: #c5161d !important; }

.footer3__nav {
  border-top: 5px solid #c5161d;
  padding: 30px 0;
  background: #353535; }
  .footer3__nav .-soc {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 50; }
    .footer3__nav .-soc .-elem {
      padding: 5px;
      transition: .2s;
      opacity: .8; }
      .footer3__nav .-soc .-elem:hover {
        opacity: 1; }
      .footer3__nav .-soc .-elem img {
        display: block; }
  .footer3__nav .-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; }
  .footer3__nav .-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.11);
    padding-top: 25px;
    margin-top: 10px; }
    .footer3__nav .-nav .-item {
      width: 250px;
      padding-right: 20px;
      margin-bottom: 20px; }
      .footer3__nav .-nav .-item:last-child {
        padding-right: 0; }
      .footer3__nav .-nav .-item .-title {
        padding: 10px 0;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-weight: bold;
        font-size: 18px; }
      .footer3__nav .-nav .-item .-menu {
        padding-top: 10px; }
        .footer3__nav .-nav .-item .-menu ul {
          padding-left: 20px; }
        .footer3__nav .-nav .-item .-menu li {
          color: #fff;
          list-style: initial;
          margin-bottom: 5px; }
        .footer3__nav .-nav .-item .-menu a {
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          line-height: 1.3;
          padding: 2px 0;
          display: inline-block; }
          .footer3__nav .-nav .-item .-menu a:hover {
            text-decoration: underline; }

.footer3__contacts {
  padding: 40px 0 30px; }
  .footer3__contacts .-wrap {
    display: flex;
    width: 100%;
    justify-content: space-around; }
    .footer3__contacts .-wrap .-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0 0 20px;
      text-align: center; }
      .footer3__contacts .-wrap .-item .-city {
        font-weight: bold;
        font-size: 18px;
        position: relative; }
        .footer3__contacts .-wrap .-item .-city i {
          color: #333;
          font-size: 18px;
          margin-right: 15px; }
      .footer3__contacts .-wrap .-item .-address {
        padding: 13px 0;
        font-size: 16px;
        color: #999; }
        .footer3__contacts .-wrap .-item .-address a {
          color: #666;
          font-weight: bold;
          text-decoration: none;
          transition: .2s; }
          .footer3__contacts .-wrap .-item .-address a:hover {
            color: #353535; }
        .footer3__contacts .-wrap .-item .-address span {
          padding-top: 5px;
          display: block;
          font-weight: 300;
          opacity: .9;
          display: block; }
      .footer3__contacts .-wrap .-item .-phone {
        font-weight: bold;
        color: #999;
        font-size: 18px; }

.footer3__politica {
  border-top: 5px solid #c5161d;
  background: #353535;
  padding: 30px 0; }
  .footer3__politica .-wrap {
    text-align: center; }
    .footer3__politica .-wrap a {
      color: #fff;
      font-size: 16px;
      border-bottom: 1px dashed #fff; }
      .footer3__politica .-wrap a:hover {
        border-color: transparent; }

@media screen and (max-width: 1040px) {
  .footer3__trigers .-wrap .-item .-desc {
    font-size: 12px; } }

@media screen and (max-width: 949px) {
  .footer3__trigers {
    padding-bottom: 20px; }
    .footer3__trigers .-wrap {
      flex-wrap: wrap; }
      .footer3__trigers .-wrap .-item {
        width: calc(100% / 3);
        margin-bottom: 40px; }
        .footer3__trigers .-wrap .-item .-desc {
          font-size: 13px; }
  .footer3__nav .-nav {
    flex-wrap: wrap; }
    .footer3__nav .-nav .-item {
      width: 50%; } }

@media screen and (max-width: 767px) {
  .MG-placeholder-1540820402060 .formfields .ffields {
    margin: 0px 0 20px !important; }
  .footer3__trigers .-wrap .-item {
    width: 50%; }
  .footer3__contacts {
    padding: 50px 0 10px; }
    .footer3__contacts .-wrap {
      flex-direction: column; }
      .footer3__contacts .-wrap .-item {
        padding: 0 0 50px; }
  .footer3__nav .-soc {
    position: initial;
    padding: 10px 0; }
  .footer3__nav .-nav {
    border-top: none;
    padding-top: 0; }
    .footer3__nav .-nav .-item {
      width: 100%; } }
