%svg-common {
	background: url("../../../../img/svg/sprite.svg") no-repeat;
}

.svg-icon_active {
	@extend %svg-common;
	background-position: 14.285714285714286% 0;
}

.svg-icon_active-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_akses {
	@extend %svg-common;
	background-position: 0 85.71428571428571%;
}

.svg-icon_akses-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_akvapark {
	@extend %svg-common;
	background-position: 0 14.285714285714286%;
}

.svg-icon_akvapark-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_angar {
	@extend %svg-common;
	background-position: 14.285714285714286% 14.285714285714286%;
}

.svg-icon_angar-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_ar_baydarka {
	@extend %svg-common;
	background-position: 28.571428571428573% 0;
}

.svg-icon_ar_baydarka-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_ar_gruz {
	@extend %svg-common;
	background-position: 28.571428571428573% 14.285714285714286%;
}

.svg-icon_ar_gruz-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_ar_katamaran {
	@extend %svg-common;
	background-position: 0 28.571428571428573%;
}

.svg-icon_ar_katamaran-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_ar_kayk {
	@extend %svg-common;
	background-position: 14.285714285714286% 28.571428571428573%;
}

.svg-icon_ar_kayk-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_ar_plot {
	@extend %svg-common;
	background-position: 28.571428571428573% 28.571428571428573%;
}

.svg-icon_ar_plot-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_ar_pontony {
	@extend %svg-common;
	background-position: 42.857142857142854% 0;
}

.svg-icon_ar_pontony-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_ar_raft {
	@extend %svg-common;
	background-position: 42.857142857142854% 14.285714285714286%;
}

.svg-icon_ar_raft-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_ar_sport {
	@extend %svg-common;
	background-position: 42.857142857142854% 28.571428571428573%;
}

.svg-icon_ar_sport-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_arki {
	@extend %svg-common;
	background-position: 0 42.857142857142854%;
}

.svg-icon_arki-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_atrakciony {
	@extend %svg-common;
	background-position: 14.285714285714286% 42.857142857142854%;
}

.svg-icon_atrakciony-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_auto {
	@extend %svg-common;
	background-position: 28.571428571428573% 42.857142857142854%;
}

.svg-icon_auto-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_baidarki {
	@extend %svg-common;
	background-position: 42.857142857142854% 42.857142857142854%;
}

.svg-icon_baidarki-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_borta {
	@extend %svg-common;
	background-position: 57.142857142857146% 0;
}

.svg-icon_borta-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_byksir {
	@extend %svg-common;
	background-position: 57.142857142857146% 14.285714285714286%;
}

.svg-icon_byksir-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_emkosti {
	@extend %svg-common;
	background-position: 57.142857142857146% 28.571428571428573%;
}

.svg-icon_emkosti-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_facebook {
	@extend %svg-common;
	background-position: 99.77426636568849% 67.4931129476584%;
}

.svg-icon_facebook-dims {
	width: 29px;
	height: 29px;
}

.svg-icon_figura_peyntboll {
	@extend %svg-common;
	background-position: 0 57.142857142857146%;
}

.svg-icon_figura_peyntboll-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_flag_en {
	@extend %svg-common;
	background-position: 93.22799097065463% 67.4931129476584%;
}

.svg-icon_flag_en-dims {
	width: 29px;
	height: 29px;
}

.svg-icon_flag_ru {
	@extend %svg-common;
	background-position: 93.22799097065463% 59.50413223140496%;
}

.svg-icon_flag_ru-dims {
	width: 29px;
	height: 29px;
}

.svg-icon_for_attrakciaons {
	@extend %svg-common;
	background-position: 42.857142857142854% 57.142857142857146%;
}

.svg-icon_for_attrakciaons-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_for_fitnes {
	@extend %svg-common;
	background-position: 57.142857142857146% 57.142857142857146%;
}

.svg-icon_for_fitnes-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_for_katamaran {
	@extend %svg-common;
	background-position: 0 71.42857142857143%;
}

.svg-icon_for_katamaran-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_for_m4s {
	@extend %svg-common;
	background-position: 14.285714285714286% 71.42857142857143%;
}

.svg-icon_for_m4s-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_for_parkafa {
	@extend %svg-common;
	background-position: 28.571428571428573% 71.42857142857143%;
}

.svg-icon_for_parkafa-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_for_prom {
	@extend %svg-common;
	background-position: 42.857142857142854% 71.42857142857143%;
}

.svg-icon_for_prom-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_for_rafts {
	@extend %svg-common;
	background-position: 57.142857142857146% 71.42857142857143%;
}

.svg-icon_for_rafts-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_for_stroy {
	@extend %svg-common;
	background-position: 71.42857142857143% 0;
}

.svg-icon_for_stroy-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_for_sub_b {
	@extend %svg-common;
	background-position: 71.42857142857143% 14.285714285714286%;
}

.svg-icon_for_sub_b-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_for_timebilding {
	@extend %svg-common;
	background-position: 71.42857142857143% 28.571428571428573%;
}

.svg-icon_for_timebilding-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_instagram {
	@extend %svg-common;
	background-position: 93.22799097065463% 83.47107438016529%;
}

.svg-icon_instagram-dims {
	width: 29px;
	height: 29px;
}

.svg-icon_katamaran {
	@extend %svg-common;
	background-position: 71.42857142857143% 57.142857142857146%;
}

.svg-icon_katamaran-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_kayk {
	@extend %svg-common;
	background-position: 71.42857142857143% 71.42857142857143%;
}

.svg-icon_kayk-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_komplect {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icon_komplect-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_letniy_atrak {
	@extend %svg-common;
	background-position: 14.285714285714286% 85.71428571428571%;
}

.svg-icon_letniy_atrak-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_lodki_oxota {
	@extend %svg-common;
	background-position: 28.571428571428573% 85.71428571428571%;
}

.svg-icon_lodki_oxota-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_logo {
	@extend %svg-common;
	background-position: 96.5946299934512% 14.16184971098266%;
}

.svg-icon_logo-dims {
	width: 44.44px;
	height: 46px;
}

.svg-icon_maty {
	@extend %svg-common;
	background-position: 57.142857142857146% 85.71428571428571%;
}

.svg-icon_maty-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_motor_lodka {
	@extend %svg-common;
	background-position: 71.42857142857143% 85.71428571428571%;
}

.svg-icon_motor_lodka-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_motors {
	@extend %svg-common;
	background-position: 85.71428571428571% 0;
}

.svg-icon_motors-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_mundial {
	@extend %svg-common;
	background-position: 85.71428571428571% 14.285714285714286%;
}

.svg-icon_mundial-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_naduv_bas {
	@extend %svg-common;
	background-position: 85.71428571428571% 28.571428571428573%;
}

.svg-icon_naduv_bas-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_naduv_doski {
	@extend %svg-common;
	background-position: 85.71428571428571% 42.857142857142854%;
}

.svg-icon_naduv_doski-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_naduv_shar {
	@extend %svg-common;
	background-position: 85.71428571428571% 57.142857142857146%;
}

.svg-icon_naduv_shar-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_nasosy {
	@extend %svg-common;
	background-position: 85.71428571428571% 71.42857142857143%;
}

.svg-icon_nasosy-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_object_yxty {
	@extend %svg-common;
	background-position: 85.71428571428571% 85.71428571428571%;
}

.svg-icon_object_yxty-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_ok {
	@extend %svg-common;
	background-position: 99.77426636568849% 43.52617079889807%;
}

.svg-icon_ok-dims {
	width: 29px;
	height: 29px;
}

.svg-icon_pakrafty {
	@extend %svg-common;
	background-position: 14.285714285714286% 100%;
}

.svg-icon_pakrafty-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_pedestal {
	@extend %svg-common;
	background-position: 28.571428571428573% 100%;
}

.svg-icon_pedestal-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_phone {
	@extend %svg-common;
	background-position: 94.29223744292237% 26.536312849162012%;
}

.svg-icon_phone-dims {
	width: 34px;
	height: 34px;
}

.svg-icon_protectory {
	@extend %svg-common;
	background-position: 57.142857142857146% 100%;
}

.svg-icon_protectory-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_pvx {
	@extend %svg-common;
	background-position: 71.42857142857143% 100%;
}

.svg-icon_pvx-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_raftu {
	@extend %svg-common;
	background-position: 85.71428571428571% 100%;
}

.svg-icon_raftu-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_raz_arenda {
	@extend %svg-common;
	background-position: 93.22799097065463% 43.52617079889807%;
}

.svg-icon_raz_arenda-dims {
	width: 29px;
	height: 29px;
}

.svg-icon_raz_contacts {
	@extend %svg-common;
	background-position: 99.77426636568849% 51.515151515151516%;
}

.svg-icon_raz_contacts-dims {
	width: 29px;
	height: 29px;
}

.svg-icon_raz_products {
	@extend %svg-common;
	background-position: 93.22799097065463% 51.515151515151516%;
}

.svg-icon_raz_products-dims {
	width: 29px;
	height: 29px;
}

.svg-icon_raz_sale {
	@extend %svg-common;
	background-position: 93.22799097065463% 35.53719008264463%;
}

.svg-icon_raz_sale-dims {
	width: 29px;
	height: 29px;
}

.svg-icon_raz_useful {
	@extend %svg-common;
	background-position: 99.77426636568849% 35.53719008264463%;
}

.svg-icon_raz_useful-dims {
	width: 29px;
	height: 29px;
}

.svg-icon_ring {
	@extend %svg-common;
	background-position: 42.857142857142854% 100%;
}

.svg-icon_ring-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_rukzaki {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-icon_rukzaki-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_snar9dy {
	@extend %svg-common;
	background-position: 42.857142857142854% 85.71428571428571%;
}

.svg-icon_snar9dy-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_sredstva {
	@extend %svg-common;
	background-position: 71.42857142857143% 42.857142857142854%;
}

.svg-icon_sredstva-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_team_atrak {
	@extend %svg-common;
	background-position: 28.571428571428573% 57.142857142857146%;
}

.svg-icon_team_atrak-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_telegram {
	@extend %svg-common;
	background-position: 99.77426636568849% 59.50413223140496%;
}

.svg-icon_telegram-dims {
	width: 29px;
	height: 29px;
}

.svg-icon_tramplin {
	@extend %svg-common;
	background-position: 14.285714285714286% 57.142857142857146%;
}

.svg-icon_tramplin-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_vesla {
	@extend %svg-common;
	background-position: 57.142857142857146% 42.857142857142854%;
}

.svg-icon_vesla-dims {
	width: 59px;
	height: 49px;
}

.svg-icon_vk {
	@extend %svg-common;
	background-position: 93.22799097065463% 75.48209366391184%;
}

.svg-icon_vk-dims {
	width: 29px;
	height: 29px;
}

.svg-icon_youtube {
	@extend %svg-common;
	background-position: 99.77426636568849% 75.48209366391184%;
}

.svg-icon_youtube-dims {
	width: 29px;
	height: 29px;
}

.svg-icon_zim_atrakciony {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-icon_zim_atrakciony-dims {
	width: 59px;
	height: 49px;
}

